{{> partials/header }}

<ul>
{{#each-limit index 5}}
<li class='special post'><a href="{{this.id}}.html">{{this.title}}</a> - {{this.created}} - {{{this.html}}}</li>
{{/each-limit}}
</ul>

<ul>
{{#each index}}
<li class='post'><a href="{{this.id}}.html">{{this.title}}</a> - {{this.created}}</li>
{{/each}}
</ul>

{{> partials/footer }}
