{{> partials/header }}

<a href="{{first.id}}.html">First</a>
{{# if previous }}
    <a href="{{previous.id}}.html">Previous</a>
{{/if}}
{{# if next }}
<a href="{{next.id}}.html">Next</a>
{{/if}}
<a href="{{last.id}}.html">Last</a>

<section class='post'>
    <h2>{{title}}</h2>
    <h3 class='created'>{{created}}</h3>

    {{{html}}}

</section>

{{> partials/footer }}

